

.b1{
    position: absolute;
   top: 19%;
   margin-left: 6%;
   
}
.b2{
    position: absolute;
    margin-top: 16%;
   right: 10%;
   left: 10%;
   
}
.b3{
    position: absolute;
    margin-top: 22%;
    margin-left: 19%;
    
}
.b4{
    position: absolute;
    margin-top: 28%;
    margin-left: 10%;
  
}
.b5{
    position: absolute;
    margin-top: 34%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.b6{
    position: absolute;
    margin-top: 40%;
    top: 0;
    right: 10%;
    left: 10%;
    bottom: 0;
}